

<style>
#ah-cart-redirect {
    {% if cart.total_price < 50000 %}
        display: none;
    {%  endif %}
}
</style>

<div id="ah-cart-redirect">
    <h3>Albis Leasing</h3>
    <a class="button full-width" href="https://{{ shop.permanent_domain }}/pages/albis-leasing">👉 Jetzt Leasen</a>
</div>

{% schema %}
{
  "name": "Cart Albis Leasing",
  "target": "section"
}
{% endschema %}